@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
    background: radial-gradient(100% 100% at 53.13% 0%, #31e7fa 0%, #4477ff 52.6%, #db74ff 100%);
}

.bg-gradient2 {
  background: radial-gradient(100% 100% at 53.13% 0%, #31e7fa 0%, #4477ff 100%);
}

.text-gradient {
    color: radial-gradient(100% 100% at 53.13% 0%, #31e7fa 0%, #4477ff 52.6%, #db74ff 100%);
}

.bg-verde {
  background-color: #09B397;
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 18px;
      height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #01227d;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: radial-gradient(100% 100% at 53.13% 0%, #31e7fa 0%, #4477ff 52.6%, #db74ff 100%);
      border-radius: 100vh;
      border: 3px solid #01227d;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: radial-gradient(100% 100% at 53.13% 0%, #35b3c2 0%, #385dc0 52.6%, #904fa8 100%);
    }
  }

 /* For Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For other browsers (Firefox) */
input[type=number] {
  -moz-appearance: textfield;
}

.custom-min-h-96 {
  min-height: 24rem;
}

.h-85{
  height: 23.5rem;
}

.userbet{
  border: 1px solid #222e40;
  background-color: #0e1321;
  border-radius: 10px;
  padding: 1rem 0.8rem;
}

.bg-btn{
    background-color: #172131;
    border: 0;
    border-radius: 5px;
    padding: 0.6rem 1rem;
    transition: .5s;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    text-decoration: none;
    display: inline-block;
    height: fit-content;
}

.nobg-btn{
  border: 0;
  border-radius: 5px;
  padding: 0.6rem 1rem;
  transition: .5s;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  text-decoration: none;
  display: inline-block;
  height: fit-content;
}